<!DOCTYPE html>
<html lang = "pt-BR">
<head>
  <meta   charset = "UTF-8" />
  <meta   name    = "viewport" content                                                                    = "width=device-width, initial-scale=1.0" />
  <link   rel     = "stylesheet" href                                                                     = "/assets/style.css" />
  <script src     = "./assets/script.js"></script>
  <script src     = "https://cdn.tailwindcss.com"></script>
  <link   href    = "https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap" rel = "stylesheet" />
  <link   rel     = "stylesheet" href                                                                     = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src     = "https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel  = "preconnect" href                                                                                       = "https://fonts.googleapis.com">
<link rel  = "preconnect" href                                                                                       = "https://fonts.gstatic.com" crossorigin>
<link href = "https://fonts.googleapis.com/css2?family=Bree+Serif&family=Sorts+Mill+Goudy:ital@0;1&display=swap" rel = "stylesheet">

<link rel  = "preconnect" href                                                                                                                                                                                                                            = "https://fonts.googleapis.com">
<link rel  = "preconnect" href                                                                                                                                                                                                                            = "https://fonts.gstatic.com" crossorigin>
<link href = "https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sorts+Mill+Goudy:ital@0;1&display=swap" rel = "stylesheet">
   
<link href = "https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap" rel = "stylesheet"/>
<link rel  = "preconnect" href                                                                     = "https://fonts.googleapis.com" />
<link rel  = "preconnect" href                                                                     = "https://fonts.gstatic.com" crossorigin />

  <title>Perfil</title>
  <style>
<style>

  
    body {
        display       : flex;
        flex-direction: column;
        align-items   : center;
    }

    .container {
        padding          : 20px;
        border-radius    : 30px;
        max-width        : 1300px;
        width            : 100%;
        margin           : 20px;
        text-align       : center;
        background-color : rgba(255, 255, 255, 0.197);
        box-shadow       : 0 4px 8px rgba(0, 0, 0, 0.1);
        border           : 1px solid white;
    }

    .saudacao {
        max-width: 1300px;
        width    : 100%;
    }

    .table-custom {
        color           : rgb(0, 0, 0);
        border-collapse : separate;
        border-spacing  : 0;
        width           : 100%;
        border-radius   : 20px;
        overflow        : hidden;
    }

     .table-custom th {
        color           : white;
        background-color: rgba(23, 23, 23, 0.296); /* Adicione um fundo para contraste */
        padding         : 15px;
        border-bottom   : 1px solid rgba(60, 60, 60, 0.3);
    }

    .table-custom td {
        padding         : 15px;
        border-bottom   : 1px solid rgba(60, 60, 60, 0.3);
    }
    
      .btn-custom {
        background-color: white;
        color           : black;
        margin          : 10px;
        transition      : background-color 0.3s;
      }
      .btn-custom:hover {
        background-color: rgb(240, 240, 240);
      }
      .btn-logout {
        background-color: rgb(200, 0, 0);
        color           : white;
      }
  
     
      ul {
        list-style-type: none;
        padding        : 0;
        margin         : 0;
      }
      .no-underline {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      .btn-white {
        background-color: rgba(255, 255, 255, 0);
        color           : black;
        border          : 1px solid #ccc;
      }
      .btn-white:hover {
        background-color: #cacaca;
      }
      nav a {
        color          : black;
        text-decoration: none;
      }
      nav a:hover {
        text-decoration: underline;
        counter-reset  : black;
      }
      .custom-container {
        max-width: 900px;
        width    : 100%;
        margin   : 0 auto;
      }
    .custom-button {
    margin-right: 60px;  /* Ajuste conforme necessário */
}
 header {
      z-index: 10;
    }
  .custom-gradient2 {
  background-image   : url(./img/blur.svg);
  background-size    : cover;
  background-position: center;
  background-repeat  : no-repeat;
    }
   
     h1, h2, h3, h4 {
      font-family: "Libre Bodoni", bold;
       color: rgb(255, 255, 255);
      
    }
    .modal-content {
    background-color: rgba(52, 52, 52, 0.8);  /* Cinza com 80% de opacidade */
    color           : white;                  /* Mantém o texto em branco */
}
.form-control {
    background-color: rgba(128, 128, 128, 0.6);  /* Cinza com 60% de opacidade */
    color           : white;                     /* Texto em branco */
    border          : 1px solid #ccc;            /* Bordas sutis */
}
  </style>
</head>
<body   class = "custom-gradient2">
<header class = "w-full flex justify-center relative z-10">
<nav    class = "bg-transparent shadow- w-full px-20 py-1 flex justify-around absolute items-center text-black shadow-sm">
<div    class = "flex space-x-6">
<a      href  = "/#home" class         = "hover:underline text-lg">Home</a>
<a      href  = "/#mais-pedidos" class = "hover:underline text-lg">Mais pedidos</a>
<a      href  = "/#sobre" class        = "hover:underline text-lg">Sobre</a>
<a      href  = "/#depoimentos" class  = "hover:underline text-base">Depoimentos</a>
<a      href  = "/#bestsellers" class  = "hover:underline text-base">Bestsellers</a>
    </div>
    <div class = "logo-container">
    <div class = "flex justify-center items-center flex-grow">
    <a   href  = "/"><img src = "img/logo.svg" alt = "unha" class = "h-24" /></a>
        </div>
    </div>
    <div    class   = "flex gap-4">
    <button onclick = "window.location.href='/login'" class = "px-4 py-2 text-sm border border-black rounded-3xl text-black hover:border-pink-500 hover:bg-white transition duration-100">
          Agende Aqui
        </button>
        <button class = "px-4 py-2 text-sm border border-black rounded-3xl text-black hover:border-pink-500 hover:bg-white transition duration-100"data-toggle = "modal" data-target      = "#editProfileModal">
        Editar perfil
        </button>
     <button onclick="confirmarLogout(event);" class="px-4 py-2 text-sm border border-black rounded-3xl text-black hover:border-pink-500 hover:bg-white transition duration-100"onclick = "confirmarLogout(event)">
         Logout
        </button>
</div>

</nav>

</header>
  <!-- vlibras -->
    <div vw class               = "enabled">
    <div vw-access-button class = "active"></div>
        <div vw-plugin-wrapper>
          <div class = "vw-plugin-top-wrapper"></div>
        </div>
      </div>
      <script src = "https://vlibras.gov.br/app/vlibras-plugin.js"></script>
      <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
      </script>

<div class="min-h-screen flex items-center justify-center w-full flex-col">
    <!-- Saudação em uma nova div fora da div container -->
    <div class="saudacao text-left w-full max-w-1300px px-6 mt-10">
        <h2 class="mb-2">Seja Bem-vindo(a), {{username}}</h2>
        <h3 class="mb-4">Aos seus agendamentos!</h3>
    </div>

    <div class="container mt-2 p-6">
        {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
        {{/if}}
        
        {{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}}

        {{#if events.length}}
        <table class="table-custom">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Data</th>
                    <th>Hora</th>
                    <th>Profissional</th>
                    <th>Deseja Cancelar?</th>
                </tr>
            </thead>
            <tbody>
                {{#each events}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.start}}</td>
                    <td>{{this.hora}}</td>
                    <td>{{this.professionalName}}</td>
                    <td>
                        {{#if (canCancel this.start)}}
                        <form action="/delete-event-user/{{this.id}}" method="POST" onsubmit="return confirmarCancelamento(event)">
                            <button type="submit" class="btn btn-danger">Cancelar</button>
                        </form>
                        {{else}}
                        <button class="btn btn-secondary" disabled>Não pode cancelar</button>
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <p>Você não tem agendamentos.</p>
        {{/if}}
    </div>
</div>




<!-- Modal para editar perfil -->
<div    class       = "modal fade" id                           = "editProfileModal" tabindex     = "-1" role          = "dialog" aria-labelledby = "editProfileModalLabel" aria-hidden = "true" onshow = "openEditProfileModal()">
<div    class       = "modal-dialog modal-dialog-centered" role = "document">
<div    class       = "modal-content" style                     = "modal-content">
<div    class       = "modal-header" style                      = "">
<h5     class       = "modal-title" id                          = "editProfileModalLabel">Editar Perfil</h5>
<button type        = "button" class                            = "close text-white" data-dismiss = "modal" aria-label = "Fechar">
<span   aria-hidden = "true">&times;</span>
        </button>
      </div>
      <div   class = "modal-body">
      <form  id    = "editProfileForm" action = "/update-profile" method = "POST">
      <div   class = "form-group">
      <label for   = "name">Nome:</label>
      <input type  = "text" class             = "form-control" id        = "name" name = "name" value = "{{user.nome}}" required>
          </div>
          <div   class = "form-group">
          <label for   = "email">Email:</label>
          <input type  = "email" class = "form-control" id = "email" name = "email" value = "{{user.email}}" required>
          </div>
          <div   class = "form-group">
          <label for   = "phone">Telefone:</label>
          <input type  = "tel" class = "form-control" id = "phone" name = "phone" value = "{{user.telefone}}" required>
          </div>
        <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary" disabled>Salvar Alterações</button>
</div>
        </form>
      </div>
      
    </div>
  </div>
</div>

</div>

<script>
          // Armazena os valores originais
  let originalValues = {};

      // Função que é chamada quando o modal é aberto
  function openEditProfileModal() {
    const nameInput  = document.getElementById('name');
    const emailInput = document.getElementById('email');
    const phoneInput = document.getElementById('phone');

        // Armazena os valores originais
    originalValues = {
      name : nameInput.value,
      email: emailInput.value,
      phone: phoneInput.value,
    };

        // Reseta o estado do botão
    updateSaveButton();
  }

      // Função para atualizar o estado do botão "Salvar Alterações"
  function updateSaveButton() {
    const nameInput  = document.getElementById('name');
    const emailInput = document.getElementById('email');
    const phoneInput = document.getElementById('phone');
    const saveButton = document.querySelector('#editProfileForm .btn-primary');

    if (nameInput.value !== originalValues.name || 
        emailInput.value !== originalValues.email ||
        phoneInput.value !== originalValues.phone) {
      saveButton.disabled = false;
      saveButton.classList.remove('btn-disabled');
    } else {
      saveButton.disabled = true;
      saveButton.classList.add('btn-disabled');
    }
  }

      // Adiciona eventos de input para monitorar alterações nos campos
  document.addEventListener('DOMContentLoaded', function () {
    const nameInput  = document.getElementById('name');
    const emailInput = document.getElementById('email');
    const phoneInput = document.getElementById('phone');

    nameInput.addEventListener('input', updateSaveButton);
    emailInput.addEventListener('input', updateSaveButton);
    phoneInput.addEventListener('input', updateSaveButton);
  });
  document.addEventListener('DOMContentLoaded', function () {
    const urlParams = new URLSearchParams(window.location.search);
    const status    = urlParams.get('status');
    const message   = urlParams.get('message');

    if (status && message) {
      Swal.fire({
        icon             : status === 'success' ? 'success' : 'error',
        title            : status === 'success' ? 'Sucesso!': 'Erro!',
        text             : message,
        confirmButtonText: 'OK'
      });
    }
  });

      // Função para confirmar cancelamento de agendamento
  function confirmarCancelamento(event) {
    event.preventDefault();
    const form = event.target;

    Swal.fire({
      title             : 'Tem certeza?',
      text              : "Você está prestes a cancelar este agendamento.",
      icon              : 'warning',
      showCancelButton  : true,
      confirmButtonColor: '#d33',
      cancelButtonColor : '#3085d6',
      confirmButtonText : 'Sim, cancelar!',
      cancelButtonText  : 'Não!'
    }).then((result) => {
      if (result.isConfirmed) {
        form.submit();
      }
    });
  }

      // Função para confirmar logout
  function confirmarLogout(event) {
    event.preventDefault();
    Swal.fire({
      title             : 'Tem certeza?',
      text              : "Você deseja sair?",
      icon              : 'warning',
      showCancelButton  : true,
      confirmButtonColor: '#d33',
      cancelButtonColor : '#3085d6',
      confirmButtonText : 'Sim, sair!',
      cancelButtonText  : 'Não, retornar!'
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = '/logout';
      }
    });
  }
</script>


<script src = "https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src = "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>
