<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/style.css" />
  <script src="./assets/script.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Perfil</title>
</head>
<style>
      body {
        background-color: black;
        color: aliceblue;
        display: flex; /* Usado para centralizar o conteúdo */
        flex-direction: column; /* Direção da coluna */
        align-items: center; /* Alinhamento centralizado */
    }
  .container {
        
        padding: 20px;
        border-radius: 5px;
        max-width: 600px; /* Largura máxima para centralizar melhor */
        width: 100%; /* Para ocupar a largura total possível */
        margin: 20px; /* Margem ao redor da caixa */
        text-align: center; /* Centraliza o texto dentro da caixa */
    }

   .table-custom {
    background-color: rgb(45, 45, 45); /* Cor de fundo da tabela */
    color: white; /* Cor do texto da tabela */
    border-collapse: collapse; /* Para remover espaços entre as células */
    margin: 20px 0; /* Margem para separar a tabela dos botões */
    width: 100%; /* Largura total da tabela */
    /* Removido max-width aqui para ocupar toda a largura da div container */
}

.table-custom th, .table-custom td {
    padding: 10px; /* Espaçamento interno nas células */
    border: 1px solid rgb(60, 60, 60); /* Bordas das células */
}

.table-custom tbody tr:nth-child(odd) {
    background-color: rgb(60, 60, 60); /* Cor de fundo para linhas ímpares */
}


    /* Estilo dos botões */
    .btn-custom {
        background-color: white; /* Cor de fundo do botão */
        color: black; /* Cor do texto */
        margin: 10px; /* Espaçamento entre os botões */
        transition: background-color 0.3s; /* Transição suave para mudança de cor */
    }

    .btn-custom:hover {
        background-color: rgb(240, 240, 240); /* Cor de fundo ao passar o mouse */
    }

    /* Botão de logout mais escuro */
    .btn-logout {
        background-color: rgb(200, 0, 0); /* Cor de fundo mais escura */
        color: white; /* Cor do texto */
    }

    /* Estilo do modal */
    .modal-header, .modal-footer .btn-primary {
        background-color: rgb(28, 28, 28); /* Cor de fundo */
        color: white; /* Cor do texto */
    }

    .modal-content {
        background-color: #333; /* Um tom mais claro de cinza para o fundo */
        color: white; /* Cor do texto */
    }

    ul {
        list-style-type: none; /* Remove marcadores de lista */
        padding: 0; /* Remove padding padrão */
        margin: 0; /* Remove margin padrão */
    }

    .no-underline {
        text-decoration: none; /* Remove sublinhado dos links */
    }

    a:hover {
        text-decoration: underline; /* Adiciona sublinhado ao passar o mouse (opcional) */
    }
    /* Estilo personalizado para botões brancos */
    .btn-white {
        background-color: white; /* Fundo branco */
        color: black; /* Texto preto */
        border: 1px solid #ccc; /* Bordas cinzas, opcional */
    }

    .btn-white:hover {
        background-color: #cacaca; /* Fundo levemente cinza ao passar o mouse */
    }

    .btn-logout {
        background-color: rgb(255, 35, 35); /* Cor de fundo do botão de logout */
        color: black; /* Texto preto */
    }

    .btn-logout:hover {
        background-color: #c00000; /* Efeito hover no botão de logout */
    }

     nav a {
        color: white; /* Muda a cor do texto para branco */
        text-decoration: none; /* Remove o sublinhado padrão */
    }

    nav a:hover {
        text-decoration: underline; /* Adiciona sublinhado ao passar o mouse (opcional) */
         color: white; /* Muda a cor do texto para branco */
    }
</style>
<body>
<style>
    /* Seus outros estilos */

    nav a {
        color: white; /* Muda a cor do texto para branco */
        text-decoration: none; /* Remove o sublinhado padrão */
    }

    nav a:hover {
        text-decoration: underline; /* Adiciona sublinhado ao passar o mouse (opcional) */
    }
   
   .custom-container {
    max-width: 900px; /* Ou qualquer valor desejado */
    width: 100%; /* Para garantir que ocupe toda a largura */
    margin: 0 auto; /* Centraliza o container */
}


</style>

<nav class="w-full flex justify-center bg-black py-4 shadow-md">
    <div class="max-w-screen-xl w-full flex items-center justify-between h-20">
        <h1 class="flex-1 text-white font-s">
            <img src="/img/logo.svg" alt="Logo" onclick="window.location.href='/'" style="cursor: pointer;" />
        </h1>
        <ul class="flex gap-4">
            <ul class="flex gap-10">
                <li class="px-2 py-1 hidden md:block">
                    <a href="/#sobre">Quem somos</a>
                </li>
                <li class="px-2 py-1 hidden md:block">
                    <a href="/#equipe">Equipe</a>
                </li>
                <li class="px-2 py-1 hidden md:block">
                    <a href="/#itens">Especialidade</a>
                </li>
                <li class="px-2 py-1 hidden md:block">
                    <a href="/#loc">Localização</a>
                </li>
            </ul>
            <li>
                <button onclick="window.location.href='/profile'" class="px-5 py-1 bg-white text-black rounded-xl transition-transform duration-300 transform hover:scale-105 hover:bg-gray-100 md:text-lg">
                    Perfil
                </button>
            </li>
            <li>
                <button onclick="window.location.href='/agendamento'" class="px-5 py-1 bg-zinc-900 text-white rounded-xl transition-transform duration-300 transform hover:scale-105 hover:bg-zinc-800 md:text-lg">
                    Agendar Sessão
                </button>
            </li>
        </ul>
    </div>
</nav>


<div class="container mt-5 bg-zinc-500/10 p-6 rounded-lg shadow-lg custom-container">

    <h2>Bem-vindo, {{username}}</h2>
    
    {{#if success_msg}}
    <div class="alert alert-success">
        {{success_msg}}
    </div>
    {{/if}}
    {{#if error_msg}}
    <div class="alert alert-danger">
        {{error_msg}}
    </div>
    {{/if}}

    <h4>Seus Agendamentos</h4>
    
    {{#if events.length}}
    <table class="table-custom">
        <thead>
            <tr>
                <th>Título</th>
                <th>Data</th>
                <th>Hora</th>
                <th>Profissional</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {{#each events}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.start}}</td>
                <td>{{this.hora}}</td>
                <td>{{this.professionalName}}</td>
                <td>
                    {{#if (canCancel this.start)}}
                    <form action="/delete-event-user/{{this.id}}" method="POST">
                        <button type="submit" class="btn btn-danger">Cancelar</button>
                    </form>
                    {{else}}
                    <button class="btn btn-secondary" disabled>Não pode cancelar</button>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <p>Você não tem agendamentos.</p>
    {{/if}}

    <div class="mt-4"> <!-- Espaçamento entre a tabela e os botões -->
        <a href="/agendamento" class="btn btn-white mr-2">Agendar Novo Evento</a>
        <button class="btn btn-white mr-2" data-toggle="modal" data-target="#editProfileModal">
            Editar Perfil
        </button>
        <a href="/logout" class="btn btn-danger">Logout</a>
    </div>

    <!-- Modal para editar perfil -->
    <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="background-color: #2D2D2D;"> <!-- Cor de fundo do modal -->
                <div class="modal-header" style="background-color: rgb(28, 28, 28);">
                    <h5 class="modal-title" id="editProfileModalLabel">Editar Perfil</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editProfileForm" action="/update-profile" method="POST">
                        <!-- Campo Nome -->
                        <div class="form-group">
                            <label for="name">Nome:</label>
                            <input type="text" class="form-control" id="name" name="name" value="{{user.nome}}" required>
                        </div>
                        <!-- Campo Email -->
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" required>
                        </div>
                        <!-- Campo Telefone -->
                        <div class="form-group">
                            <label for="phone">Telefone:</label>
                            <input type="tel" class="form-control" id="phone" name="phone" value="{{user.telefone}}" required>
                        </div>
                        <!-- Botão de Salvar -->
                        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
